project:
  type: book

book:
  title: "Mi primer libro de IA"
  author: "G. Barrios"
  date: "11/21/2025"
  chapters:
    - index.qmd
    - intro.qmd
    - summary.qmd
    - references.qmd

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt



